.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__container {
  background-color: #fff;
  margin: 10% auto;
  width: 30%;
  border: none;
  border-radius: 5px;
}
.modal__container__cabecalho, .modal__container__conteudo, .modal__container__rodape{
  padding: 5px 20px;
}

.modal__container__cabecalho {
  display: flex;
  justify-content: space-between;
}

.modal__container__cabecalho__titulo{
  color: #602575;
  font-size: 28px;
}

.btn-fechar {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-fechar>svg {
  width: 30px;
  height: 30px;
}


.campo__formulario{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}

.modal__container__conteudo__label{
  color: #602575;
  font-weight: bold;
}

.modal__container__conteudo__input{
  background-color: #e6e4e4;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.contador_campo_descricao{
  font-size: 15px;
  color: #602575;
}

.modal__container__rodape{
  display: flex;
  justify-content: flex-end;
}